/*css*/
@import "css/reset.css";
@import "css/skeleton.css";

html, body {
	background: #f8f8f8 url(images/bg-1.gif) 0 0 repeat;
	font: 14px/20px Arial, sans-serif;
	color: #808080;
	min-width:300px;
}
* {	-webkit-text-size-adjust: none;}

a { color: #7E450C; text-decoration: underline;}
a:hover { text-decoration: none;}
a[href^="tel:"] {color: inherit;text-decoration:none;}
.a-hov { -moz-transition: all 0.4s ease;	-webkit-transition: all 0.4s ease;	-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.a-hov:hover { color: #eec000;}

@font-face {
	font-family: 'Cormorant Infant Semibold Italic';
	src: url(fonts/CormorantInfant-Regular.ttf);
}
.tstyle {
	font-family: 'Cormorant Infant Semibold Italic';
	font-size: 30px !important;
}

.brown{
	width: 100%;
	padding: 7px;
	color: #7E450C !important;
	border-radius: 10px;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #ECE3D2 , #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #ECE3D2 , #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #ECE3D2 , #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #ECE3D2 , #ffffff); /* Standard syntax */
}
.brown:hover{
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #E0D0B2 , #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #E0D0B2 , #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #E0D0B2 , #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #E0D0B2 , #ffffff); /* Standard syntax */
}

.marger-b-40{
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	padding: 0px !important;
}

.bg-1 { background: #f6f6f6 url(images/bg-4.gif) center 0 repeat; margin-bottom: 21px;}
.bg-1-white{background: none !important; background-color: #fff !important;}
.bg-2 {
	background: url(images/bg-3.jpg) center top no-repeat;
	background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
.bg-3 { background: #ffffff;}
.bg-4 { background: url(images/bg-7.gif) 0 0 repeat-x;}
.bg-5 { background: #f2f2f2;}
.bg-3-custom{background: url(images/bg-3-custom.jpg) center bottom no-repeat;
	background-size: cover;
	-moz-background-size: 100% cover;
	-o-background-size: 100% cover;
	-webkit-background-size: 100% cover;
	display: block;
	min-height:110px;}

.bg-3-custom .container{width: 960px;margin: 0 auto;padding: 15px 0;}
.bg-3-custom .container h1{
	display: block;
	padding: 30px 30px;
	width: 300px;
	background-color: rgba(47, 26, 0, 0.8);
	border-radius: 10px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	position: relative;
	font-weight: 100;
}

.header-2{
	width: 100% !important;
	padding: 30px 0 !important;
}


h2 { color: #525252; font: 24px/26px Trebuchet MS, sans-serif;  padding-top: 0; padding-bottom: 15px; letter-spacing: -1px;}
h3 { color: #000; font: 18px/20px Trebuchet MS, sans-serif; margin-top: 21px; margin-bottom: 13px;}
h4 { color: #f4c600; font: bold 14px/16px Georgia, sans-serif; font-style: italic; padding-bottom: 21px;}

.title-1 {font: bold 34px/36px Trebuchet MS, sans-serif; color: #ffffff; text-align: center; text-shadow: 1px 1px #ae8845;}
.title-2 { font: bold 20px/28px Trebuchet MS, sans-serif; color: #f89d30; text-transform: uppercase; padding-top: 20px; padding-bottom: 14px;}
.text-1 { font: bold 16px/23px Trebuchet MS, sans-serif; color: #fff4db; text-transform: uppercase;padding-top: 28px; text-align: center;}
.text-1 a {color: #fff4db; text-transform: uppercase; text-decoration: underline;}
.text-1 a:hover {color: #fff4db; text-transform: uppercase; text-decoration: none;}


.color-1 a {color: #A0B73D; text-decoration: none;}
.color-2 { color: #f3bf19;}


.w1 { width: 40%; float: left;}
.w1 + .w1 { margin-left: 4%; width: 56%;}

.bord-1 {position: relative;}
.bord-1:after {
	position: absolute;
	display: block;
	content: "";
	/*border-right: 1px solid #e9e9e9;*/
	right: -41px;
	top: 7px;
	bottom: 0;
	width: 1px;
	background-color:#e8e8e8;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e8e8e8, endColorstr=#052afc);
	background-image:-moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 25%,#f6f6f6 100%);
	background-image:linear-gradient(top, #f6f6f6 0%, #e8e8e8 25%,#f6f6f6 100%);
	background-image:-webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 25%,#f6f6f6 100%);
	background-image:-o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 25%,#f6f6f6 100%);
	background-image:-ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 25%,#f6f6f6 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#f6f6f6), color-stop(25%,#e8e8e8),color-stop(100%,#f6f6f6));
}

.bord-3 {
	border-top: 5px solid #eeeeee;
	padding-top: 48px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*buttons*/
.btn-wrapper { position: relative; padding-bottom: 74px;}
.btn {
	text-decoration: underline;
	position: absolute;
	display: inline-block;
	background: #fff;
	height: 47px;
	line-height: 40px;
	width: 92px;
	-moz-border-radius: 92px 92px 0 0;
	-webkit-border-radius: 92px 92px 0 0;
	border-radius: 92px 92px 0 0;
	vertical-align: bottom;
	text-align: center;
	margin-left: -16px;
	left: 50%;
	bottom: -7px;
}
.btn span {
	vertical-align: bottom;
	font: bold 12px/12px Trebuchet MS, sans-serif;
	color: #4b4b4b;
	text-transform: uppercase;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn:hover span { color: #f89d30; }


.btn-2 {
	display: inline-block;
	background: #f89d30;
	font: bold 12px/14px Trebuchet MS, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	padding: 13px 17px 11px;
	margin-top: 24px;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn-2:hover { background: #b3c758;}

.inverted {
	background: #b3c758;
}
.inverted:hover { background: #f89d30;}

/*lists*/

.list-1 { margin-top: 10px;}
.list-1 li { background: url(images/arrow-2.gif) 0 2px no-repeat; padding-left: 24px; padding-bottom: 6px;}
.list-1 li a { color: #727272; font: 12px/14px Arial, sans-serif; text-transform: uppercase;}
.list-1 li a:hover { text-decoration: underline;}


.list-2 { margin-top: 6px; }
.list-2 li a {
	padding: 15px 0 16px 20px;
	background: #f2f2f2;
	margin-bottom: 9px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: #525252;
	display: block;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list-2 li a:hover,
.list-2 li.current-menu-item a { background: #b3c758; color: #ffffff;}


.p1 {padding-top: 79px;}
.p2 {margin-top: 80px !important;}
.p3 {margin-top: 6px;}
.p4 {padding-bottom: 16px;}

.bg-1 h2 { color: #6b5d3d;}
/*auxiliary*/

.img-ind {float: left; margin-right: 19px; margin-top: 4px;}
.img-ind img { width: 100%;}
.wrapper img, .wrapper {width: 100%; position: relative;}
.extra-wrap {overflow:hidden;}
.grid_inside { margin: 0 -10px;}
.aligncenter {text-align: center !important;}
.maxheight{ height: 400px !important; display: block; padding: 20px; text-decoration: none;
	-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;	-o-transition: all 0.5s ease;transition: all 0.5s ease; margin-bottom: 20px;}
.maxheight:hover{ background-color: rgba(120,66,12,0.1); border-radius: 10px; }
.maxheight p {color: #333;}
.singleheight{height: auto !important;}
.singleheight .title{height: auto !important;}
.alignleft {text-align: left !important; float: left; margin: 0 20px 15px 0 !important}
.alignright {text-align: right !important; float: right; margin: 0 0 5px 20px !important}
.it {font-style:italic; display: inline-block;}
.fleft {float: left;}
.fright {float: right;}
.h-underline:hover { text-decoration: underline;}
.underline {text-decoration: underline;}
.upp {text-transform: uppercase;}

.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";line-height: 0;}
.clearfix:after { clear: both;}


/************Header************/
header { background: #1d1003; }
.logo{margin-top: 18px;}
h1 { float: left; margin-top: 18px;}
	.carousel-1 { padding-bottom: 94px; position: relative;}
	.carousel-1 .arrows {
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -44px;
		background: url(images/bg-6.png) 0 0 no-repeat;
		width: 89px;
		height: 42px;
	}
	.carousel-1 .arrows .prev,
	.carousel-1 .arrows .next {
		display: block;
		float: left;
		width: 50%;
		height: 100%;
		background: url(images/arrows-1.png) no-repeat;
	}
	.carousel-1 .arrows .prev {background-position: 22px 19px; }
	.carousel-1 .arrows .next {background-position: -23px 19px;}
	.carousel-1 .arrows .prev:hover {background-position: 22px -15px;}
	.list_carousel .arrows .next:hover {background-position: -23px -15px;}
	#foo li { cursor: default;}

/************Content***********/
.content { background: #ffffff; padding-bottom: 71px;}
.row-1 {margin-top: 87px; text-align: center;}
.row-1 h2 { padding-top: 31px;}
h2 + h4 { margin-top: -5px;}
.separator{width: 100%; margin-bottom: 10px;}
.separator img{width: 100%;}
.separator .img-single-page {width: 180px !important;}

.num-lists { margin-top: -4px;}
.num-lists a {-moz-transition: all 0.4s ease;-webkit-transition: all 0.4s ease;	-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.num-lists a:hover { color: #f89d30;}
.bord-2 .color-1 { font: 18px/20px Trebuchet MS, sans-serif; margin-top: 15px; padding-bottom: 13px;}
.bord-2 { padding-bottom: 14px; }
.bord-2 + .bord-2 { border-top: 1px solid #f1f1f1;}
.num-lists + .btn-2 { margin-top: 16px;}

/*services*/
.p2 .bord-1:after {	top: 40px;	bottom: 40px;}
.gallery { margin-top: -28px;}
.gallery > div {margin-top: 35px;}
.gallery h3 + div { padding-right: 10px;}

/*products*/
.gallery-1 .bg-5 {	padding: 10px;	padding-bottom: 13px;}
.gallery-1 > div { margin-top: 20px;}
.gallery-1 .magnifier { margin-bottom: 9px;}

/*partners*/

.grid_inside-1 { margin: 0 -16px;}
.w2 { width: 174px; margin-left: 15px; margin-right: 15px; float: left;}
.gallery-3 {margin-top: -27px;}
.gallery-3 .color-1 {display: inline-block;}
.gallery-3 img { margin-bottom: 21px;}
.gallery-3 > div {margin-top: 33px;}

/************Footer************/
footer { color: #a5a5a5; padding-bottom: 25px;}

.list-services { margin-top: 5px;}
.list-services li {
	display: inline-block;
	float: left;

}
.list-services li + li {margin-left: 12px;}

	[class*="list-services-"] {
		text-decoration: none;
		display: block;
		height: 33px;
		width: 34px;
		background: transparent url(images/soc-icons.png) no-repeat;
		background-position-x: -25px;
		background-position-y: 0px;
		opacity: 1;
		-webkit-transition: all 0.2s ease-out;
	    -moz-transition: all 0.2s ease-out;
	    -o-transition: all 0.2s ease-out;
	    -ms-transition: all 0.2s ease-out;
	    transition: all 0.2s ease-out;
	}
	[class*="list-services-"]:hover { opacity: 0.7;}
	.list-services-1 { background-position: 0px 0px;}
	.list-services-2 { background-position: -46px 0px;}
	.list-services-3 { background-position: -93px 0px;}
	.list-services-4 { background-position: -138px 0px;}

	.list-services-1:hover { background-position: 0px -34px;}
	.list-services-2:hover { background-position: -46px -34px;}
	.list-services-3:hover { background-position: -93px bottom;}
	.list-services-4:hover { background-position: -138px -34px;}

footer .bord-1:after {
	top: -19px;
	bottom: -15px;
	background-color:#f1f1f1;
	background-image:none;
}
.icon-1 { padding-left: 30px; background: url(images/icon-1.png) 0 1px no-repeat; margin-left: 35px;}

.icon-2 { padding-left: 30px; background: url(images/icon-2.gif) 0 5px no-repeat; margin-left: 35px;}
.icon-2 a{color: #E28008; text-decoration: underline;}
.icon-2 a:hover{color: #A25C06; text-decoration: none;}

.icon-3 {
	height: 24px;
	width: auto;
	padding-left: 30px;
	background: url(https://s31.postimg.org/563px42e3/icon_3.png) no-repeat;
	margin-top: 5px;
	margin-left: 35px;
}
.icon-3 a{color: #E28008; text-decoration: underline; line-height: 1em;}
.icon-3 a:hover{color: #A25C06; text-decoration: none;}


.main-foot {padding: 54px 0;}
footer .inside { text-align: center; padding-top: 25px; font: 14px/18px Trebuchet MS, sans-serif; color: #7a7a7a;}
footer .inside span {margin-top: 8px; display: inline-block;}

/*touch-touch*/
.magnifier {
	position:relative;
	display:block;
}
.magnifier:after {
	background: url(images/magnifier.png) center center no-repeat #000000;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 0;
	top: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.magnifier:hover:after {
	opacity:0.4;
	filter: alpha(opacity=40);
	-webkit-transition:opacity .2s linear;
	-moz-transition:opacity .2s linear;
	-o-transition:opacity .2s linear;
	transition:opacity .2s linear;
}

.overflowa{
	overflow: hidden;
}


/*================== HEADER SLIDER =====================*/
.headerslider{
	float:left; width:100%;	position:relative;	z-index:0;  clear:both; background: rgba(47, 26, 0, 0.9); margin-top: 56px; z-index: 10; overflow: hidden;
}
.slider-t-1 { font-size: 24px; color: #ffffff; text-align: center;display: block; margin: 30px 10px 30px 10px; text-transform: uppercase;}
.slider-t-2 { font-size: 16px; color: #ffffff; margin: 0 10px;}

#slides{ position:relative;}
#slides  a img{width:100%; height:auto;}
#slides .slidesjs-navigation {      margin-top:5px;    }

.slide-image .wp-post-image{width:100%; height:auto;}
.slide-image a.image-link{position:absolute; display:block; top:0; right:0; bottom:0; left:0;}

.slider-content{text-shadow: 0px 0px 6px #333; bottom:0px; background: rgba(47, 26, 0, 0.7);  position:absolute; width: 100%; height: 60px; text-align:left; padding:15px; z-index: 999}
.slider-content img{display: block;max-width: 135px; margin: 15px auto;}

.slide-title{color:#fff; text-shadow: 0 1px 2px #000;}
.slider-short-content{ text-align:center;}
.slider-short-content p{ text-align:left; color:#fff; text-shadow: 0 1px 2px #000; font-size:18px;}
.slider-readmore{border:2px solid #fff; color:#fff !important; padding:8px 15px; text-transform:uppercase; font-size:14px; display:inline-block}

.meteor-slides .meteor-buttons {
	padding: 6px 0 0;
	float: right;
	position: absolute;
	right: 10px; /* position the left edge of the element at the middle of the parent */
}

a.slidesjs-next:focus, a.slidesjs-previous:focus{outline:none;}
a.slidesjs-next, a.slidesjs-previous{ position:absolute; z-index:99;  text-indent: -9999px; top:45%; width:30px; height:51px;}

.slidesjs-play, .slidesjs-stop {position:absolute; top:20px; right:10px; z-index:999;}

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
	  position:absolute !important; left:20px; right:20px; bottom:0; text-align:center; z-index:999;
    }

    .slidesjs-pagination li {
      display:inline-block;
      margin: 0 1px !important;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

@media screen and (max-width: 600px) {

	 a.slidesjs-next, a.slidesjs-previous{display:none !important;}
	 .slider-content{ padding: 20px 10px !important;}
	 .slider-content .slide-title{font-size:20px !important; line-height:22px !important}
	 .slider-short-content{display:none;}
	 .slider-readmore{border:1px solid #fff !important; color:#fff !important; padding:5px 15px !important; font-size:13px !important; text-transform:uppercase; display:inline-block}
	 #slides.design-3 .slider-content{left:5px; top:5px; width:80%;}
	 #slides.design-3 .slider-content .slide-title{font-size:14px !important; line-height:16px !important}
	  #slides.design-3 .slider-readmore{border:1px solid #fff !important; color:#fff !important; padding:3px 10px !important; font-size:13px !important; }
 }

.shadow { position: relative;margin-bottom: 45px;}
.shadow:before,
.shadow:after { content:""; position:absolute; z-index:1; bottom:20px; left:30px; width:50%; height:20px;
    -webkit-box-shadow:0 14px 29px 4px #000;
       -moz-box-shadow:0 14px 29px 4px #000;
            box-shadow:0 14px 29px 4px #000;
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.shadow:after { right:30px; left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}
.post-page-container{width: 960px;margin: 0 auto;padding: 20px 0 50px 0;display: table;}
.post-page-container .image-container{width: 100%;display: table-cell;margin: 20px auto;}
.post-page-container .post-sidebar{
	width: 300px;
	float: right;
	display: table-cell;
	margin-left: 20px;
	padding:20px;
	background-color: #EEEEEE;
	border-radius: 10px;
}

.post-page-container .post-container{width: 640px;display: table-cell;}
.entry-container{width: 960px;margin: 0 auto;}

.post-page-container .post-container .post-title, .entry-container .entry-title{
	font-size: 32px;
	display: block;
	color: #333;
	text-transform: uppercase;
	margin-left: 10px;
	position: relative;
}

.entry-container .entry-title{
	font-size: 32px;
	display: block;
	color: #333;
	text-transform: uppercase;
	margin-left: 10px;
	position: relative;
}

.entry-container .entry-title{text-align:center;}

.post-page-container .post-container .post-content,
.entry-container .entry-content{
	color: #000;
	display: block;
	width: 100%;
	background-color: #eee;
	position: relative;
	float: left;
	margin-bottom: 10px;
	border-radius: 10px;
}

.nobg{
	background: none !important;
	border: 1px solid #7e450c;
	border-radius: 20px;
	margin-top: 25px;
}

.morepad{
	padding: 30px !important;
	font-size: 16px !important;
}

.separ{
	position: absolute;
	background-color: #F6F6F6;
	width: 290px;
	padding: 0 20px;
	height: auto;
	top: -20px;
	left: 50%;
	transform: translate(-50%);
}

.hidden{display: none !important;}

.post-page-container .post-container .post-content .container img{
	display: block;
	max-width: 100% !important;
	height: auto !important;
	margin: 0 20px;
	border-radius: 10px;
}

.post-page-container .post-container .post-content .container ul{
	margin: 0 20px;
	list-style-type: disc;
}

.container .list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	text-align: center;
}

.container .list li {
	position: relative;
    display: inline-block;
	width: 300px;
}

.container .list li a .title{
	color: #6b5d3d;
	font-size: 24px;
	width: 100%;
	display: block;
	margin-top: 20px;
	text-decoration: none;
	line-height: 1em;
	font-family: 'Cormorant Infant Semibold Italic';
	font-size: 26px !important;
}

.container .list li  .preview-content{margin: 10px 10px 20px 10px;}

.post-page-container .post-container .post-content .container,
.entry-container .entry-content .container{padding: 20px; display:block;
	}

.post-info,
.entry-info{display: block; height:40px; line-height: 40px;
	background-color: #e6e6e6; border-radius: 10px; margin-top: 10px;
	font-size: 12px !important; overflow: hidden; padding-left: 10px;
}
.entry-container .entry-title .entry-edit a{
	float: right;
	padding: 5px 10px;
	color: #222;
	background-color: #ddd;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 0;
}
.entry-container .entry-title .entry-edit a:hover{background-color: #ccc;}
.contact-form{max-width: 500px;margin: 0 auto; outline: none;}
input:focus{outline: none;}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea{
	width: 100%;
	border: 1px solid #ddd;
	color: #555;
	box-sizing: border-box;
	padding: 15px 0 15px 20px;
}
.archive-container{width: 960px;margin: 0 auto;padding: 10px 0;}
.half-post .archive-header{background-color: #fff; text-align: left; position: relative; margin: 10px 0 5px 0; 	display: block; position: relative;
text-decoration: none}
.archive-header .archive-title{font-size: 32px;display: block;color: #333;
	position: relative; text-align: left; padding-left: 10px;}
.archive-content{color: #000;display: block;
	background-color: #eee; border-radius: 10px; padding: 20px; overflow: hidden; height: 400px; text-decoration: none}
.archive-content .img-holder{ width: 100%; height: 200px; overflow: hidden; border-radius: 10px; box-shadow: 0px 2px 5px #888888; display: inline-block; float: left; }
.archive-content .img-holder .archive-image{ width: 100%; height: auto; margin-bottom: 100px;}
.archive-content .text-content{ overflow: hidden; padding: 10px; font: 14px/20px Arial, sans-serif;}

.archive-container li.half-post:nth-child(odd) {
	width: 49%;
	float: left;
	clear: both;
}

.archive-container li.half-post:nth-child(even) {
	width: 49%;
	float: right;
}

.archive-date-margin{
	padding: 5px 0 5px 15px;
}

.h-pos{
	position: absolute !important;
	right: 10px;
	top: 50%;
	transform: translate(0,-50%);
}

.b-pos{ top: 50%; right: 3px; transform: translate(0, -50%); }

.edit-link{
	display: block;
	margin-top: 0px;
	float: right;
	padding: 5px;
	background-color: #98BF95;
	border-radius: 300px;
	width: 24px;
	height: 24px;
	position: relative;
}

.edit-link:hover{
	background-color: #3B5E38;
	cursor: pointer;
}

.edit-link img{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;  /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.page-numbers{
	color: #fff;
	padding: 10px 15px;
	margin: 5px 0;
	background-color: #3C2106;
	display: inline-block;
	text-decoration: none;
	border-radius: 30px;
}
.page-numbers:hover{
	background-color: #74400C;
	}
.current{
	background-color: #7F460D;
}
.navigation-wrapper{
	padding: 20px 30px;
}
.navigation-wrapper .navigation h2{
	padding: 0px;
	font-size: 14px;
}

.contact-data{
	display: inline-block;
	width: 45%;
	clear: both;
}

.contact-data .contact-block{
	background-color: #E5E5E5;
	padding: 15px;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 10px;
}

.contact-form{
	display: inline-block;
	width: 100%;
	clear: both;
	margin-left: 10px;
}

.contact-form textarea{
	padding: 15px 20px;
}

.contact-form input[type="submit"]{
	background-color: #7E450C;
	padding: 15px 50px;
	border: 1px solid #7E450C;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	float: right;
}
.contact-form input[type="submit"]:hover{
	background-color: #442506;
	border: 1px solid #442506;
	cursor: pointer;
}

.popup4phone-areas-init{
	background-color: red;
}
.full-half{
	width: 100%;
	margin-bottom: 10px;
}
.full-half .half{
	width: 140px;
	text-align: left;
	display: inline-block;
	float: left;
}
.full-half .half p{
	margin: 5px 10px;
	padding: 0;
	color: #333;
}
.full-half .half:first-child{
	margin-right: 10px;
}
.half-input{
	width: 145px;
	border: 1px solid #ddd;
	color: #555;
	background-color: #fff;
	box-sizing: border-box;
	padding: 10px 20px;
	float: left;
}

.buttons-wrapper{
	width: 100%;
	margin-top: 10px;
}

.action_button_orange{
	width:200px;
	height: 60px;
	font-size: 24px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	text-align:center;
	line-height: 2.5em;
	padding:0px 30px;
	margin-bottom: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	background-color: #E38007;
	text-shadow: 0px 1px 2px #333;
	border-radius: 10px;
}

.action_button_orange:hover{
	background-color:#7E450C;
}

.action_button_green{
	width:200px;
	font-size: 22px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	text-align:center;
	padding:10px 30px;
	margin-bottom: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	background-color: #4BC318;
	text-shadow: 0px 1px 2px #333;
	border-radius: 10px;
}

.action_button_green:hover{
	background-color:#307C10;
}


/*
.action_button_orange{
	width:200px;
	height: 60px;
	font-size: 24px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	text-align:center;
	line-height: 2.5em;
	padding:0px 30px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px #000;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	background:#E38007;
	background: linear-gradient(to top, #E78207, #F89A26);
	border:solid 1px #F89A26;
	-webkit-box-shadow: 0px 9px 0px #955405;
	-moz-box-shadow: 0px 9px 0px #955405;
	box-shadow: 0px 9px 0px #955405;
}

.action_button_orange:active{
	-webkit-box-shadow: 0px 2px 0px #955405;
	-moz-box-shadow: 0px 2px 0px #955405;
	box-shadow: 0px 2px 0px #955405;
	position:relative;
	top:7px;
}

.action_button_orange:hover{
	text-shadow: 1px 1px 2px #000;
	color: #fff;
}

.action_button_green{
	width:200px;
	font-size: 22px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	text-align:center;
	padding:10px 30px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px #000;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	background:#48B917;
	background: linear-gradient(to top, #3FA414, #50D119);
	border:solid 1px #4DC818;
	-webkit-box-shadow: 0px 9px 0px #307D0F;
	-moz-box-shadow: 0px 9px 0px #307D0F;
	box-shadow: 0px 9px 0px #307D0F;
}

.action_button_green:active{
	-webkit-box-shadow: 0px 2px 0px #307D0F;
	-moz-box-shadow: 0px 2px 0px #307D0F;
	box-shadow: 0px 2px 0px #307D0F;
	position:relative;
	top:7px;
}

.action_button_green:hover{
	text-shadow: 1px 1px 2px #000;
	color: #fff;
}*/


.round-img-border{
    background-color: #9A8C82;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 15px;
}
.thinborder{padding: 5px !important; background-color: #7E450C !important;}
.round-img-border .round-img{
    position: relative;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    overflow: hidden;
}

.round-img-border .round-img img{
	width: auto;
	height: 150px;
}

.map {
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid red;
}

.tinymce-content p {
    padding: 0;
    margin: 2px 0;
}

.footer-adr a{
	color: #8A9B35;
}

.footer-adr a:hover{
	color: #ADC24A;
}

.yandex-button{
	display: block;
	color: #333;
	border: 1px solid #BBBBBB;
	background: #F6F6F6;
	padding: 10px 15px;
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.yandex-button:hover{
	border: 1px solid #939393;
	background: #D8D8D8;
	cursor: pointer;
}

.cbk-phone .cbk-phone-bgr {
	background-color: #ED9909 !important;
}

.cbk-phone{
	right: auto !important;
	left: 5% !important;
}

.cbk-window .cbk-form .cbk-button {
	background: #ED9909 !important;
}
.cbk-window .cbk-form .cbk-button:hover {
	background: #BF7B07 !important;
}

.similar-posts{
	width: 100%;
	display: block;
	margin-top: 30px;
}

.similar-posts h1{
	font-size: 24px;
	display: block;
	float: none;
	margin: 0;
	color: #333;
	font-weight: normal;
	padding: 10px 0;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

.similar-posts .post{
	display: block;
	font-weight: normal;
	margin-bottom: 20px;
}

.similar-posts .post h1{
	display: block;
	float: none;
	margin: 0;
	color: #333;
	font-size: 20px;
	border: none;
	padding: 5px 0;
}

.cat-filter-holder {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-bottom: 40px;
}
.cat-filter-holder .title-link{
	padding: 15px 20px;
	display: block;
	background-color: #eee;
	border-radius: 10px;
	font-family: 'Cormorant Infant Semibold Italic';
	font-size: 30px;
	text-decoration: none;
}
.cat-filter-holder .title-link:hover{
	background-color: #EDE7E2;
}
.cat-filter-holder .content{
	padding: 10px 20px;
	display: block;
	font-size: 18px;
	float: left;
	background-color: #fff;
}


/* Table style */

table {
	background: #eee;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}

th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 15px;
	position: relative;
}

td {
	padding: 15px 15px !important;
	position: relative;
}
tr:nth-child(odd) td {
	background: #ccc;
}

.not-found span{
	font-size: 40px; display:block; padding: 20px; text-align: center; color: #7E450C;
}

.slicknav_menu {
	display:none;
}

.nav-desktop{
	display: block;
}

.nav-mobile{
	display: none;
}

/*============================= MOBILE MENU ====================================================*/
.child-keeper{
	height: 300px;
	overflow-y: auto;
}

.cd-accordion-menu label, .cd-accordion-menu a {
	position: relative;
	display: block;
	padding: 18px;
	background: #E6940A;
	color: #ffffff;
	font-size: 20px;
}

.cd-accordion-menu {
	width: 100%;
	background: #5A3108;
	margin: 20px auto;
	display: none;
}

.cd-accordion-menu input[type=checkbox] {
	/* hide native checkbox */
	position: absolute;
	opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
	position: relative;
	display: block;
	padding: 18px;
	background: #E6940A;
	color: #ffffff;
	font-size: 20px;
}
.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
	background: #C47F0C;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
	/* icons */
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cd-accordion-menu label {
	cursor: pointer;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
	/* rotate arrow */
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
	/* show open folder icon if item is checked */
	background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
	/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
	background: #4C4135;
	box-shadow: inset 0 -1px #29231C;
	padding-left: 52px;
}


.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
	background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
	box-shadow: none;
}
.cd-accordion-menu ul label::before {
	left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
	left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
	padding-left: 70px;
	background-color: #40372C !important;
}
.cd-accordion-menu ul ul label::before {
	left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
	left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
	padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
	left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
	left: 95px;
}

.cd-accordion-menu.animated label::before {
	/* this class is used if you're using jquery to animate the accordion */
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1982px) {
	.bg-2 { background-size: auto auto; background-position: center bottom;}
}

@media only screen and (max-width: 995px) {
	.slider .camera_wrap, .slider { height: 350px;}
	.slider-t-1 {font: bold 40px/40px Trebuchet MS, sans-serif;}
	.slider-t-2 {font: bold 40px/40px Trebuchet MS, sans-serif;}
	.slider .camera_caption {  left: -270px; top: -70px;}
	.slider .camera_pag { left: -220px;}
	.separator img {width: 50%;}

	.list-services li + li { margin-left: 10px;}
	.w2 {width: 45%!important; margin-left: 2%; margin-right: 2%;}
	.grid_inside-1 { margin: 0;}
	.grid_inside-1.gallery-3 {margin-top: -27px;}
	.icon-2, .icon-1 { margin-left: 0;}
}
@media only screen and (max-width: 767px) {
	.slider .camera_caption { display: none!important;}
	.slider .camera_wrap, .slider { width: 100%!important; height: 219px; overflow: hidden;}
	.slider .camera_pag { left: 50%;  bottom: 30%;}
	.slider .camera_wrap .camera_pag .camera_pag_ul li {width: 44px!important;}
	a.btn{
		width: 164px;
		line-height: 37px;
		margin-left: 0;
		transform: translate(-50%, 0);
		bottom: auto;
		border: 1px solid #999;
	}
	.preview-content {padding-bottom: 0px;}
	.grid_4{margin-top: 0px;}
	.icon-3{margin-left: 0px;}
	.footer-adr{padding-bottom: 20px; font-size: 18px;}
	.footer-con div{padding-bottom: 20px; font-size: 18px;}
	 h1 { float: none;}
	.bord-1:after { display: none;}
	.btn-wrapper { margin-bottom: 0px; padding-bottom: 70px;}
	.gallery > div { width: 45%!important; padding-left: 2%; padding-right: 2%;}
	.gallery-1 > div { width: 45%!important; padding-left: 2%; padding-right: 2%;}
	.row-1 h2 { padding-top: 12px;}
	.separator img {width: 50%;}

	footer .bord-1 + .bord-1 {margin-top: 0px;}
	.btn {margin-left: -31px; -moz-border-radius: 92px;-webkit-border-radius: 92px;border-radius: 92px; height: 62px; width: 62px; }
	.header-2{width: 100% !important;}

	.bg-3-custom .container{width: 90%; left: 50%}
	.bg-3-custom .container h1 { font-size: 20px;}

	.nobg{margin: 0 10px}
	.post-page-container{
		display:flex;
		flex-flow: column;
	}
	.post-page-container .post-container {width: 100%; display: block; order:2;}

	.post-page-container .post-container .post-content,
	.entry-container .entry-content{margin: 10px; width: calc(100% - 20px);}
	.post-info, .entry-info {display: none}

	.post-page-container .post-container .post-content .container img{
		display: block;
		width: 100% !important;
		height: auto !important;
		margin: 20px;
		border-radius: 10px;
	}
	.post-page-container{ width: 100%; box-sizing: border-box; }
	.post-page-container .post-sidebar{
		display: block;
		width: 300px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 10px;
		float: none;
		order:1;
	}
	.half-input{width: 100%;float: left;padding: 10px;}
	.full-half .half{
		display: inline-block;
		margin: 0 3px;
		width: 45%;
	}
	.post-page-container {padding-top: 10px;}
	.edit-link{display: none}

	.content { padding-bottom: 31px; }
	.archive-container { width: 100%; }

	.archive-container .archive-post-container .archive-content {
		box-sizing: border-box; margin: 0 10px;}

	.archive-container .archive-post-container .archive-content .archive-image {
		float: none;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		margin-bottom: 15px;
	}

	.archive-container .archive-post-container .archive-header {box-sizing: border-box;margin: 10px 0;}
	.archive-container .archive-post-container .archive-content .text-content{padding: 0;}
	.brown{width: auto}
	.action_button_orange{width: auto; box-sizing: border-box;}
	.action_button_green{width: auto; box-sizing: border-box;}
	.widget_ymap_widget{display: none}
	.contact-data {display: block; width: auto}
	.contact-form {display: block; margin-left: 0; width: auto;}
	.entry-container {width: 100%;}
	.similar-posts{display: none;}
	.text-1 {font-size: 18px;}
	.text-1 a {display: block;}
	.maxheight{ height: auto !important;}
	.row-1 {margin-top: 47px;}
	.p1 {padding-top: 30px;}
	.footer-adr a{display: block; padding: 5px 0;}


	.archive-container .archive-post-container {
		width: auto;
		margin: 0 10px;
	}

	.archive-container li.half-post:nth-child(odd) {
		width: 100%;
		float: left;
	}

	.archive-container li.half-post:nth-child(even) {
		width: 100%;
		float: left;
	}
	.archive-container .archive-post-container .archive-content .text-content{
		float: left;
		overflow: hidden; padding: 10px; font: 14px/20px Arial, sans-serif;
	}
	.archive-container .archive-post-container .archive-content {
		height: auto;
	}

	.archive-container .archive-post-container {
		padding: 0 10px;
	}
	.archive-container .archive-post-container .archive-content .img-holder{
		height: 180px;
	}
	.archive-container .archive-post-container {
		padding: 0;
	}
	.archive-container .archive-post-container .archive-content {
		margin: 0;
	}
	.contact-form input[type="submit"]{
		margin-bottom: 30px;
	}
	.page-numbers{
		color: #fff;
		padding: 15px 20px;
		margin: 5px 0;
		border-radius: 30px;
		background-color: #3C2106;
		display: inline-block;
		text-decoration: none;
	}
	.maxheight {
		margin-bottom: 0;
	}
	.not-found span{
		line-height: 1em;
	}
	.nav-desktop{
		display: none;
	}
	.nav-mobile{
		display: block;
	}
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
	.logo{
		margin: 18px 0;
	}

	.cd-accordion-menu{
		display: block;
	}

	nav{
		display: none;
		padding: 0;
		margin: 0;
		height: 0px;
	}


	.menu-item-18 a{
		background: url(images/home.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}

	.menu-item-418 a{
		background: url(images/strawberry.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}
	.menu-item-414 a{
		background: url(images/mushroom.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}
	.menu-item-474 a{
		background: url(images/article.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}
	.menu-item-213 a{
		background: url(images/contact.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}
	.menu-item-432 a{
		background: url(images/info.png) #4C4135 no-repeat 20px 20px !important;
		padding-left: 52px;
		box-shadow: inset 0 -1px #29231C;
	}
}
@media only screen and (max-width: 479px) {
	.slider .camera_caption { display: none!important;}
	.slider .camera_wrap, .slider { width: 100%!important; height: 219px;}
	.slider .camera_pag { left: 50%;  bottom: 0px;}
	.slider .camera_wrap .camera_pag .camera_pag_ul li {width: 44px!important;}

	.gallery-1 > div { width: 100%!important; padding-left: 0; padding-right: 0;}
	.slider-content {
		display: none;}
}





.sd-menu { display: inline-block;}
.sd-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sd-menu li { padding-left:0px; position:relative; background: none;}
.sd-menu a {
	display: block;
	text-decoration: none;
	font-family: Trebuchet MS, sans-serif;
	text-transform: uppercase;
}
.sd-menu a:hover {text-decoration: none;}
.sd-menu li:hover span {color:#ffffff;}

/*================================>> 1 Level <<========================================*/

li.sdHover {position: relative;}

.sd-menu > li > a {
	position: relative;
	display:block;
	padding: 31px 15px 36px 15px;
	text-align: left;
	font-size: 13px;
	line-height: 16px;
	color: #eeedd3;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
.sd-menu > li {
	display: block;
	float: left;
	position: relative;
}
.sd-menu > li.last { margin-right: 0;}
.sd-menu > li.current > a,
.sd-menu > li:hover > a,
.sd-menu > li.sdHover > a {	}

.sd-menu > li:hover > a,
.sd-menu > li.current > a,
.sd-menu > li.sdHover > a,
.sd-menu > li:hover > span,
.sd-menu > li.current > span,
.sd-menu > li.sdHover > span {
	text-decoration: none;
}
.sd-menu > li > a:hover,
.sd-menu > li.sdHover > a,
.sd-menu > li.current > a { background: #c19f35;}

.sd-menu li span {
	position: relative;
	right: 0px;
	top: 0px;
}

/*================================>> 2 Level <<========================================*/
.sd-menu > li > ul,
.sd-menu > li.sdHover > ul {
	top:83px;
	left: 50%;
	margin-left: -50px;
	width: 120px;
	z-index:99;
	background: #eec000;
	text-align: center;
	padding: 7px 0px 7px;
}
.sd-menu > li > ul > li { height: auto; border: none; margin: 0 16px; padding: 9px 0px 6px; text-align: left;}
.sd-menu > li > ul > li + li {background: url(../images/bord-1.png) 0 0 repeat-x;}
.sd-menu > li > ul > li > a {
	display: inline-block;
	color: #ffffff;
	border: none;
	font: bold 12px/16px Trebuchet MS, sans-serif;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
}
.sd-menu li li a:hover,
.sd-menu li.sdHover li.sdHover>a,
.sd-menu li li:hover span,
.sd-menu li.sdHover li.sdHover span {
	text-decoration: none;
	color: #fff89e;
}
.sd-menu li li:hover,
.sd-menu li.sdHover li.sdHover { }

.sd-menu > li.sdHover > span {
	color: #fff89e;
}

.sd-menu > li > ul .sf-sub-indicator {line-height: 14px;}

/*================================>> 3 Level <<========================================*/

.sd-menu li li ul {
	left: 104px;
	top: -4px;
	width: 120px;
	z-index:99;
	background: #352617;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 6px;
	margin-top: 0;
	text-align: left;
}
.sd-menu li li li { padding: 8px 0px 8px 0px; margin: 0 16px; text-align: left;}
.sd-menu li li li + li {background: url(../images/bord-2.png) 0 0 repeat-x;}
.sd-menu li li li a {
	display: inline-block;
	color: #87786b;
	border: none;
	font:12px/16px Trebuchet MS, sans-serif;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	text-align: left;
}
.sd-menu li li li:hover {}
.sd-menu li li li:hover a {	color: #ebca93;}
.sd-menu > li > ul .sf-sub-indicator { line-height: 15px;}
.sd-menu > li > li.sdHover > span {
	color: #87786b;
}

